<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PrologParser.My.MySettings>
            <setting name="regexFile" serializeAs="String">
                <value>cfg/regex.txt</value>
            </setting>
            <setting name="keywordsFile" serializeAs="String">
                <value>cfg/keywords.txt</value>
            </setting>
            <setting name="variousFile" serializeAs="String">
                <value>cfg/various.txt</value>
            </setting>
        </PrologParser.My.MySettings>
    </userSettings>
</configuration>